<!-- user.hbs -->

<html lang="en">

<head>
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../public/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            {{# if msg }}
            <p class="alert alert-danger">{{ msg }}</p>
            {{/if}}
        </div>            
    </div>
</body>

</html>